@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  color: #fff;
  background: linear-gradient(to right, #02191D 80%, #24A0B5 20%, #02191D 80%);
  font-family: "Roboto" sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

